@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
  font-family: Avenir;
  src: url(./fonts/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: Avenir Book;
  src: url(./fonts/AvenirLTStd-Book.otf);
}

.custom-footer{
  color: white;
}
.bottom-footer-custom{
  background-color: #1C2331;
  border-color: #1C2331;
}

body {
  overflow-x: hidden;
  font-family:"Lato", sans-serif;

}

.offset:before{
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}

/*--- Navbar ---*/
.navbar{
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Avenir Book";
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, .6) !important
}

.bg-dark{
  transition: 450ms ease-in-out;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) , rgba(0,0,0,0) 100%) !important
}

.overlayLanding{
  transition: 450ms ease-in-out;
  background: rgba(0,0,0,0) 100% !important;
}

.bg-dark.scrolled{
  background-color : #000000 !important
}

.navbar-brand img{
  height: 3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .navbar-link{
color: white;
padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
color: #ffffff;
}

/* Parallax */

.parallax {

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*--- Slider ---*/

.carousel-inner{
  background-color: black;
}

.carousel-item {
  height: 100vh;
}

.carousel-caption{
  position: absolute;
  top: 40%;
}
/*============= COURSE SECTION =============*/


.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

#submitBtnId{
  margin-top: 10px;
}

.icontact{
  margin-right: 10px;
  color: darkslategray;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/